@{
    ViewData["Title"] = "Yönetim Paneli";
}

<h2>Yönetim Paneli</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Hizmet" asp-action="Index">Hizmet Yönetimi</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Antrenor" asp-action="Index">Antrenör Yönetimi</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Randevu" asp-action="TumRandevular">Randevu Yönetimi</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Kullanicilar" asp-action="Index">Kullanicilar</a>
    </li>
</ul>
