@model SPORSALONUPROJE.ViewModels.AntrenorFormViewModel
@{
    ViewData["Title"] = "Yeni Antrenör Ekle";
    ViewData["Action"] = "Ekle";
}

<h2>Yeni Antrenör</h2>
<partial name="_Form" model="Model" />
