@model SPORSALONUPROJE.ViewModels.AntrenorFormViewModel
@{
    ViewData["Title"] = "Antrenör Güncelle";
    ViewData["Action"] = "Guncelle";
}

<h2>Antrenör Güncelle</h2>
<partial name="_Form" model="Model" />
