@model IEnumerable<SPORSALONUPROJE.Models.Randevu>

@{
    ViewData["Title"] = "Randevularım";
}

<h2>Onaylanmış Randevularım</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        Henüz onaylanmış bir randevunuz bulunmamaktadır.
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Antrenör</th>
                <th>Hizmet</th>
                <th>Tarih & Saat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Antrenor.AdSoyad</td>
                    <td>@r.Hizmet.Ad</td>
                    <td>@r.BaslangicZamani</td>
                </tr>
            }
        </tbody>
    </table>
}
